<div class="ui segment">

  <div class="ui stackable grid">
    <div>
      <div class="ui header">
        Search
      </div>
      <div class="ui form">
        <div class="field">
          <div class="ui icon fluid input">
            <input type="text"
                   placeholder="Filter"
                   ng-model="queryText"
                   ng-model-options="{debounce: 300}">
              <i class="search icon"></i>
          </div>
        </div>
        <div class="field">
          Page Number:
          <div class="ui icon fluid input">
            <input type="text"
                   placeholder="1"
                   ng-model="pageNum"
                   ng-model-options="{debounce: 300}">
              /{{pages}}
          </div>
        </div>
        <div class="ui checkbox">
          <input type="checkbox" id="showUnsubmitted" ng-model="showUnsubmitted">
          <label for="showUnsubmitted">Show unsubmitted users</label>
        </div>
      </div>
      

      <div class="ui divider"></div>

    </div>

    </div>
    <div id="table-container" class="thirteen wide column">
      <div class="ui header">
        Users
      </div>
      <button type="button" ng-click="initiateAcceptAll(users)" disabled="true">MASS ACCEPT</button>
      <div class="ui long user modal">
        <i class="close icon"></i>
        <div class="header">
          {{selectedUser.profile.name ? selectedUser.profile.name : selectedUser.email}}
          <span
            ng-show="selectedUser.admin">
            (Admin)
          </span>
        </div>
        <div class="content">

          <div>
            <div class="ui header">
              Status:
              <div
                class="ui label">
                {{selectedUser.status.name.toUpperCase()}}
              </div>
            </div>
            <p>
              <strong> Admitted by: </strong> {{selectedUser.status.admittedBy ? selectedUser.status.admittedBy : 'N/A'}}
            </p>
          </div>

          <div ng-repeat="section in selectedUser.sections">
            <div class="ui divider"></div>

            <h3> {{section.title}} </h3>

            <p ng-repeat="field in section.fields">
              <strong> {{field.name}}: </strong>

              <span ng-show="field.type === 'boolean'">
                <i class="red circle remove icon" ng-show="!field.value"></i>
                <i class="green circle check icon" ng-show="field.value"></i>
              </span>

              <span ng-if="field.type === 'link'">
                <a ng-href="{{field.value}}">{{field.value}}</a>
              </span>

              <span ng-if="field.type === undefined">
                {{field.value}}
              </span>
            </p>

          </div>

        </div>

        <div class="actions">
          <div class="ui positive right labeled icon button">
            Nothing
            <i class="checkmark icon"></i>
          </div>
        </div>
      </div>
      

      <table
        class="ui celled selectable compact users table">
        <thead>
          <tr>
            <th>Name</th>
            <th>School</th>
            <th>Grad</th>
            <th>V/S/A/C</th>
            <th>Volunteer</th>
            <th>$</th>
            <th>App</th>
            <th>Actions</th>
            <th>E-mail</th>
          </tr>
        </thead>
        <tbody>
          <tr
            ng-click="selectUser(user)"
            ng-repeat="user in users"
            ng-class="rowClass(user)">
            <td>
              <strong>
                {{user.profile.name || 'null'}}
                &nbsp;

              </strong>
            </td>
            <td>{{user.profile.school || 'null'}}</td>
            <td
              class="collapsing">
              {{user.profile.graduationYear || 'null'}}
            </td>
            <td
              class="collapsing">

              <!-- Verified -->
              <i
                ng-if="user.verified"
                class="green check circle icon">
              </i>
              <i
                ng-if="!user.verified"
                class="red remove circle icon">
              </i>

              <!-- Submitted -->
              <i
                ng-if="user.status.completedProfile"
                class="green check circle icon">
              </i>
              <i
                ng-if="!user.status.completedProfile"
                class="red remove circle icon">
              </i>

              <!-- Admitted -->
              <i
                ng-if="user.status.admitted"
                class="green check circle icon">
              </i>
              <i
                ng-if="!user.status.admitted"
                class="thin circle icon">
              </i>

              <!-- Confirmed -->
              <i
                ng-if="!user.status.admitted"
                class="circle thin icon">
              </i>
              <i
                ng-if="user.status.admitted && user.status.confirmed"
                class="green check circle icon">
              </i>
              <i
                ng-if="user.status.admitted && !user.status.confirmed && !user.status.declined"
                class="question icon">
              </i>
              <i
                ng-if="user.status.admitted && user.status.declined"
                class="red remove circle icon">
              </i>

            </td>

            <!-- Volunteer -->
            <td class="collapsing">
              <i
                ng-if="user.profile.volunteer"
                class="circle icon">
              </i>
            </td>

            <td
              class="collapsing">
              <span ng-if="user.status.confirmed">
                <i
                  ng-if="user.confirmation.needsReimbursement && !user.status.reimbursementGiven"
                  class="red money icon">
                </i>
                <i
                  ng-if="user.confirmation.needsReimbursement && user.status.reimbursementGiven"
                  class="green money icon">
                </i>
              </span>
            </td>

            <td
              class="collapsing">
              <button
                ng-click="goUser($event, user)"
                class="ui circular mini basic icon button">
                <i class="linkify icon"></i>
              </button>
            </td>

            <td
              class="right aligned collapsing">

              <button
                class="accept ui circular mini basic green icon button"
                ng-disabled="!user.status.completedProfile || user.status.admitted"
                ng-click="acceptUser($event, user, $index)">
                <i class="add user icon"></i>
              </button> 

              <button
                class="ui circular mini basic green icon button"
                ng-disabled="!user.status.completedProfile || !user.status.admitted"
                ng-click="sendQrCode($event, user, $index)">
                <i class="send outline icon"></i>
              </button>

            </td>
            <td>{{user.email}}</td>
          </tr>
        </tbody>
      </table>
  </div>

</div>
