<div class="ui stackable two column grid">
    <div class="column">
  
      <!-- Create Event -->
      <div
        class="ui red segment">
        <div class="ui form">
  
          <div class="ui header">
            Create An Event
          </div>
  
          <div class="field">
            <label>
              Name
            </label>
            <input type="text" ng-model="events.create.name">
          </div>
  
          <div class="field">
            <select 
              ng-model="events.create.open"
              ng-init="events.create.open = true"
              ng-options="o.v as o.n for o in [{ n: 'Open', v: true }, { n: 'Close', v: false }]">
            </select>
          </div>
  
          <div class="ui field">
            <div
              class="ui green button"
              ng-click="addEvent()">
              Update
            </div>
          </div>
        </div>
      </div>
  
    </div>
    <div class="column">
  
      <!-- Current Events -->
      <div
        ng-class="{'loading': loading}"
        class="ui orange segment">

        <div class="ui header">
            Events
        </div>
      
        <table
            class="ui celled selectable compact users table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Open</th>
            </tr>
            </thead>
            <tbody>
            <tr
                ng-click="selectEvent(event)"
                ng-repeat="event in events">
                <td>
                <strong>
                    {{event.name}}
                    &nbsp;

                </strong>
                </td>
                <td>{{event.open.toString()}}</td>
            </tr>
            </tbody>
        </table>  

      </div>
  
    </div>
  </div>
  
  <!-- Users at Event -->
  <div
    ng-show="selectedEvent"
    class="ui green segment">
  
    <div class="ui header">
      Attendees
    </div>
  
    <table
    class="ui celled selectable compact users table">
      <thead>
        <tr>
          <th>Name</th>
          <th>E-mail address</th>
        </tr>
      </thead>
      <tbody>
        <tr
          ng-repeat="user in users"
          ng-class="rowClass(user)">
          <td>
            <strong>
              {{user.profile.name}}
              &nbsp;

            </strong>
          </td>
          <td>{{user.email}}</td>
        </tr>
      </tbody>
    </table>
  
  </div>
  
</div>
  