/** BRANDING COLORS
 * primary (default pink): sidebar color, admitted dashboard status
 * secondary (default purple): header text, submitted/confirmed/checked-in dashboard status
 * tertiary (default blue): waitlist/declined dashboard status
 */

$primary: #07889b;
$secondary: #ed725a;
$tertiary: #66b9bf;

/** ASSET URLS
 * login-bg: image for login splash page 
 */

$login-bg: url('../assets/images/skyline.jpg');
