$login-sidebar-width: 500px;

#login {
  height: 100%;
  width: 100%;
  background-color: $login-bg-color;
  background: $login-bg; 
  background-size: cover;
  background-position: $login-sidebar-width;

  > .container {
    position: relative;
    height: inherit;

    .login-sidebar {
      max-width: $login-sidebar-width;
      height: inherit;
      background: white;
      padding: 0 4em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex
    }

    .content {
      width: 100%;
      margin: auto 0;
      padding: 2em 0;
    }

    .forgot {
      text-align: center;
    }

    #register {
      margin-top: 1em;
    }
  }
}
