$login-sidebar-width: 450px;

#login {
  height: 100%;
  width: 100%;
  background-color: $login-bg-color;
  background-size: cover;

  > .container {
    position: relative;
    height: inherit;

    .login-sidebar {
      max-width: 100%;
      height: inherit;
      background: $login-bg-color;
      padding: 0 2em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex
    }

    .content {
      width: 100%;
      margin: auto 0;
      padding: 2em 0;
    }

    .forgot {
      text-align: center;
    }

    #register {
      margin-top: 1em;
    }
  }
}

@media only screen and (min-width: 769px) {
  #login {
      background: $login-bg; 
      background-position: $login-sidebar-width;

      .login-sidebar {
        max-width: $login-sidebar-width;
        padding: 0 3em;
      }
  }
}