$login-sidebar-width: 450px;
$login-sidebar-break: 769px;

#login {
  height: inherit;
  width: inherit;
  background-color: $login-bg-color;
  position: absolute;
  top: 0;
  bottom: 0;
  
  > .container {
    height: 100%;

    .login-sidebar {
      max-width: 100%;
      height: inherit;
      background: $login-bg-color;
      padding: 0 2em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      @media only screen and (min-width: $login-sidebar-break) {
          max-width: $login-sidebar-width;
          padding: 0 3em;
          box-shadow: 0 0 40px rgba(0, 0, 0, 0.08);
          min-height: 100vh;
      }
    }

    .content {
      margin: auto auto;
      padding: 2em 0;
      width: 100%;
      max-width: $login-sidebar-width - 50px;

      @media only screen and (min-width: $login-sidebar-break) {
        max-width: none;
      }
    }

    .forgot {
      text-align: center;
    }

    #register {
      margin-top: 1em;
    }
  }

  @media only screen and (min-width: $login-sidebar-break) {
      background: $login-bg; 
      background-position: $login-sidebar-width;
      background-size: 100%;
      background-repeat: no-repeat;
      background-attachment: fixed;
      position: static;
  }

  .logo {
    max-width: 96px;
    margin-bottom: 10px;

    @media only screen and (min-width: 480px) {
      max-width: 108px;
      margin-bottom: 15px;
    }
  }
}
