.page, .content {
  padding-top: 2em;
  padding-bottom: 4em;
  .title {
    font-family: $font-header;
    font-size: 2.25em;
    text-align: center;
    color: $page-header-color;
    font-weight: 700;
    line-height: 1em;
    &.divided:after {
        content: " ";
        width: 60px;
        display: block;
        margin: 27.5px auto 20px;
        border-bottom: 4px solid $page-header-color;
    }

    &.small {
      font-size: 1em;
      &:after {
        border-width: 2px;
      }
    }
  }

  .form {
    .title {
      font-size: 1em;
      &:after {
        display: none;
      }
    }

    .file-upload-wrapper {
      border: 1px solid rgba(34,36,38,.15);
      border-radius: 2px;
      padding: 0;
      margin: .5em 0;
      width: 100%;
      max-width: 400px;
    }

    #resume-upload {
      width: 100%;
      height: 120px;      
      background: transparent;
      box-shadow: inset 0 -50px 50px -40px #fff, inset 0 2px 4px rgba(0,0,0,0);    
      padding: 1em;
      cursor: pointer;
      transition: all 0.25s;

      &:hover {
        background: #fbfbfb;
        box-shadow: inset 0 -50px 50px -40px #fff, inset 0 2px 4px rgba(0,0,0,0.07);            
      }
    }

    .upload-status {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      font-size: 1.15em;
      color: #cac7c7;
      pointer-events: none;
    }

    .curr-file {
      text-align: center;
      color: rgba(0,0,0,.6);
      padding: 5px;
      font-weight: bold;
      background-color: #e8e8e8;
      box-shadow: 0 0 0 1px rgba(34,36,38,.15) inset; 
      // From https://justmarkup.com/log/2015/07/dealing-with-long-words-in-css/
      overflow-wrap: break-word;
      word-wrap: break-word;
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;   
      margin: .5em;
      margin-top: 0;
      border-radius: 2px;      
    }

    .field.error {
      $err-border: #e0b4b4;
      $err-bg: #fff6f6;

      .file-upload-wrapper {
        border-color:$err-border !important;
        background: $err-bg;
      }

      #resume-upload {
        box-shadow: inset 0 -50px 50px -40px $err-bg, inset 0 2px 4px rgba(0,0,0,0);    
        
        &:hover {
          background: darken($err-bg, 1%);
          box-shadow: inset 0 -50px 50px -40px $err-bg, inset 0 2px 4px rgba(0,0,0,0.07);                      
        }
      }

      .upload-status {
        color: darken($err-border, 10%);
      }
    }
  }

  .subheader {
    font-size: 1.2em;
    text-align: center;
  }

}

@media only screen and (max-width: 768px) {
  .page, .login-sidebar .content {
    .title {
      font-size: 1.5em;
    }
  }
}