<div class="page">
  <div class="divided title">
    Confirmation
  </div>

  <div class="ui stackable page grid">
    <div class="column">

      <div class="ui form">

        <fieldset ng-disabled="pastConfirmation">
          <br>
          <div class="divided title">Basic Details</div>
          <br>

          <div class="field">
            <label> What's your phone number? (required) </label>
            <p>
              We are required to collect phone numbers of attendees in case of an emergency.
            </p>
            <input id="phonenum" type="tel" name="phone" ng-model="user.confirmation.phoneNumber" placeholder="(123) 555-1234" maxlength="20" required>
          </div>
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" ng-model="user.confirmation.smsPermission"/>
              <label>I would like to receive important notifications during VandyHacks.</label>
            </div>
          </div>

          <br>
          <div class="field">
            <label> Dietary Restrictions </label>
            <p>
              If your restriction is not included here, please let us know in the additional notes section.
            </p>
          </div>

          <div class="inline fields">
            <div class="field" ng-repeat="(key, value) in dietaryRestrictions">
              <div class="ui checkbox">
                <input type="checkbox" ng-model="dietaryRestrictions[key]" />
                <label>{{key}}</label>
              </div>
            </div>
          </div>

          <br>
          <div class="field">
            <label> Shirt Size (required) </label>
            <p>
              Let's get you some swag!
            </p>
            <select name="shirt" ng-model="user.confirmation.shirtSize" required>
              <option value="">Shirt Size</option>
              <option value="XS">Unisex X-Small</option>
              <option value="S">Unisex Small</option>
              <option value="M">Unisex Medium</option>
              <option value="L">Unisex Large</option>
              <option value="XL">Unisex X-Large</option>
              <option value="XXL">Unisex XX-Large</option>
              <option value="WXS">Women's X-Small</option>
              <option value="WS">Women's Small</option>
              <option value="WM">Women's Medium</option>
              <option value="WL">Women's Large</option>
              <option value="WXL">Women's X-Large</option>
              <option value="WXXL">Women's XX-Large</option>
            </select>
          </div>

          <br>
          <br>
          <div class="divided title">Travel</div>
          <br>

          <div class="field">
            <p>
              Our reimbursement policy is as follows:
            </p>
            <ul>
              <li> Bus: We will be offering buses to Illinois Institute of Technology, Purdue, University of Illinois at Urbana-Champaign, Georgia Institute of
                Technology, University of Florida, and Washington University in St. Louis. If you can find your own way to any of the stops, you can board the bus. We will require
                reservation of bus seats ahead of time (this will be released prior to the event). </li>
              <li> Car: We will generally reimburse all gas costs for cars containing <strong>3 or more</strong> hackers. We may
                offer partial reimbursement to cars containing fewer hackers. </li>
              <li> Flight & Greyhounds: Reimbursement is generally $75-$100. However, we may consider <em>on a case by case basis</em> small reimbursements (~$50) comparable to the reimbursement hackers who drive would receive. Contact us for
                more information. </li>
            </ul>
            <p>
              If you have another way to get to VandyHacks (or just have questions), email us at <a href="mailto:travel@vandyhacks.org">travel@vandyhacks.org</a>.
            </p>
          </div>

          <div class="field">
            <label> Will you be needing travel reimbursement? </label>
            <div class="ui checkbox">
              <input type="checkbox" name="needsReimbursement" ng-model="user.confirmation.needsReimbursement">
              <label> I will be needing travel reimbursement. </label>
            </div>
          </div>

          <div ng-show="user.confirmation.needsReimbursement">

            <p>
              Please enter the location you will be traveling from.
            </p>

            <div class="four fields">
              <div class="field">
                <label> City </label>
                <input type="text" name="city" ng-model="user.confirmation.address.city">
              </div>
              <div class="field">
                <label> State/Province/Region </label>
                <input type="text" name="state" ng-model="user.confirmation.address.state">
              </div>
              <div class="field">
                <label> ZIP </label>
                <input type="text" name="zip" ng-model="user.confirmation.address.zip">
              </div>
              <div class="field">
                <label> Country </label>
                <input type="text" name="country" ng-model="user.confirmation.address.country">
              </div>
            </div>

          </div>

          <br>
          <br>
          <div class="divided title">Waiver</div>
          <br>
          <div class="field">
            
            <label>We require that all attendees sign the liability waiver.</label>
            <p>
            Please sign it at <a id="waiverlink" target="_blank" href="https://redcap.vanderbilt.edu/surveys/?s=F973TXHXRC">https://redcap.vanderbilt.edu/surveys/?s=F973TXHXRC</a>.
            <p>
            <div class="ui checkbox">
              <input type="checkbox" name="waiversigned" ng-model="waiversigned" required>
              <label> I hereby confirm that I have signed the above waiver form. </label>
            </div>
          </div>

          <br>
          <br>
          <div class="divided title">Everything Else</div>
          <br>
          <div class="field">
            <label>Lightning Talks</label>
            <p>
              Have something you'd really like to share at our event? Give a short five-minute talk!
            </p>
            <div class="ui checkbox">
              <input type="checkbox" name="lightningTalker" ng-model="user.confirmation.lightningTalker" required>
              <label> I would like to give a lightning talk. </label>
            </div>
          </div>
          <br>

          <div class="field">
            <label>
              Additional Notes
            </label>
            <p>
              If there's anything else you need to let us know, tell us here!
            </p>
            <textarea name="notes" ng-model="user.confirmation.notes" maxlength="500">
            </textarea>
          </div>

          <br>

          <div class="field" ng-hide="regIsClosed">
            <button type="submit" class="fluid ui primary button" ng-click="submitForm()">
              Submit
            </button>
          </div>
          <div class="ui error message"></div>

        </fieldset>
      </div>
    </div>
  </div>
</div>